@model Html_Helpr_prj.Models.Student
@{
    ViewBag.Title = "TemplateForModel";
}

<h2>TemplateForModel</h2>

@using (Html.BeginForm())
            {
                @Html.EditorForModel()
            }

