@model First_MVC.Models.Employee
@{
    ViewBag.Title = "DisplayEmployee";
}

<h2>DisplayEmployee Details</h2>
<ol>
    <li>
        @Model.ID
        @Model.Name
        @Model.Age
    </li>
</ol>

